:root {
    --black: #322625;
    --grey: #ebebeb;
    --blue: #c0e3e5;
    --yellow: #fdc936;
}

/* Specific colors */
.text-color-black {
    color: var(--black) !important;
}

.text-color-grey {
    color: var(--grey) !important;
}

.bg-color-grey {
    background-color: var(--grey) !important;
}

.text-color-blue {
    color: var(--blue) !important;
}

.bg-color-blue {
    background-color: var(--blue) !important;
}

.text-color-yellow {
    color: var(--yellow) !important;
}

.bg-color-yellow {
    background-color: var(--yellow) !important;
}


/* Include Netura Text Font */
@font-face {
    font-family: 'Neutra Text';
    src: url('./fonts/NeutraText-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('./fonts/NeutraText-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('./fonts/NeutraText-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('./fonts/NeutraText-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    color: var(--black) !important;
    font-family: 'Neutra Text', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
